

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    z-index: -1;
}

/* generali */



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-container {
    width: 80%;
    position: relative;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.main-menu:hover ~ .footer-container {
    margin-left: 250px;
}

.main-menu:hover ~ .container {
    margin-left: 250px;
}


/* Media query per schermi più grandi di 1100px ma non più grandi di 1400px */
@media (min-width: 1100px) and (max-width: 1400px) {
    .container {
        max-width: 1280px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .sidebar-container {
        max-width: 60%; /* Adatta la larghezza della sidebar al contenuto */
    }

    .footer-container {
        margin-left: 100px; /* Spazio per la sidebar aperta */
    }
}

/* Media query per schermi più grandi di 1400px */
@media (min-width: 1400px) {
    .container {
        max-width: 1650px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .sidebar-container {
        max-width: 50%; /* Adatta la larghezza della sidebar al contenuto */
    }

    .footer-container {
        margin-left: 100px; /* Spazio per la sidebar aperta */
    }
}

/* Media query per schermi enormi */
@media (min-width: 1650px) {
    .container {
        max-width: 3000px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .sidebar-container {
        max-width: 40%; /* Adatta la larghezza della sidebar al contenuto */
    }


}


