/* aggiungi Task Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: #333;
    padding-top: 60px;
}

div.modal-content {
    background-color: #333;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60% !important;
    align-items: center;
    justify-content: center;
}

.modal, .ms-5 .me-5 .mt-5{
    background-color: #333 !important;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Contenitore principale */
.container {
    margin-left: 0; /* Aggiusta il margine sinistro per fare spazio alla sidebar chiusa */
    transition: margin-left 0.3s ease;
    max-width: 100%; /* Valore predefinito per schermi piccoli */
    padding: 0 15px; /* Padding laterale per schermi piccoli */
}

/* Media query per schermi più grandi di 1100px ma non più grandi di 1400px */
@media (min-width: 1100px) and (max-width: 1400px) {
    .container {
        max-width: 1280px;
        margin-left: 200px;
        margin-right: 200px;
        padding: 0; /* Rimuove il padding laterale per schermi medi */
    }
}

/* Media query per schermi più grandi di 1400px */
@media (min-width: 1400px) {
    .container {
        max-width: 1650px;
        margin-left: 200px;
        margin-right: 200px;
        padding: 0; /* Rimuove il padding laterale per schermi grandi */
    }
}

/* Media query per schermi enormi */
@media (min-width: 1650px) {
    .container {
        max-width: 3000px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 0; /* Rimuove il padding laterale per schermi enormi */
    }
}

/* Footer styling */
.footer-container {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    width: 100%;
    padding: 0 15px; /* Padding laterale per schermi piccoli */
}

.footer-container footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-container .footer-text {
    text-align: left;
    flex: 1;
}

.footer-container img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .footer-container img {
        width: 100px;
        height: 100px;
    }
}

/* Stile card per il task manager */
.task-card {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: -22px 24px 11px 3px rgba(0,0,0,0.1);
    background-color: #332f2f;
    font-family: 'Titillium Web', sans-serif;
    color: #89CC04;
    height: 400px;
    overflow-y: auto; /* Abilita lo scroll verticale quando il contenuto supera l'altezza della card */

}
.task-card h2 {
    margin-top: 0;
    font-size: 24px;
}
.task-list {
    list-style: none;
    padding: 0;
}
.task-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}
.task-list li.completed {
    text-decoration: line-through;
    color: gray;
    background-color: #e0e0e0;
}
.task-actions {
    display: flex;
    gap: 10px;
} 
.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.button.complete {
    background-color: #28a745;
    color: white;
}
.button.delete {
    background-color: #dc3545;
    color: white;
}
.completed-tasks {
    margin-top: 20px;
}

/* centra il contenuto */
/* Per dispositivi piccoli e medi */
@media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; /* Per centrare il testo */
        padding: 0 15px; /* Mantiene il padding laterale */
    }

    .row {
        width: 100%; /* Assicura che il contenuto della riga prenda tutta la larghezza disponibile */
        margin: 0; /* Rimuove i margini laterali */
    }

    .task-card {
        width: 100%; /* Assicura che il task card prenda tutta la larghezza disponibile */
        max-width: 100%; /* Evita che il task card ecceda la larghezza della schermata */
        margin: 0 auto; /* Centra il task card */

    }
}

.list-group{
    --bs-list-group-border-color: #333;
}
.list-group-item {
    --bs-list-group-border-width: #333 !important; 
    --bs-list-group-border-color: #333 !important;
}
.todo-container{
    background-color: #333 !important;
    padding: none;
}

#changePriorityModal.modal{
    background-color: #333 !important;
}
.modal {
    background-color: #333 !important;
    color: white;
    display: inline;
}
.modal-body {
    background-color: #333;
    color: white;
    border-top: #333;
  }
  
  .modal-header {
    background-color: #333;
    color: white;
    border: none;
    border-top: #333;
    border-bottom: #333;
  
  }
  div.modal-footer{
    background-color: #333;
    border-top: #333;
  }
  .mb-3.card.container {
   background-color: #333;
   color: white;
   border: none;
   padding: 0;
  }
  .list-group-item {
    background-color: #333 !important;
    color: white;
  }
  #benvenuto2 {
    text-align: center;
    justify-content: center;
    font-size: 35px;
    color:white;
  }
  .form-check-label {
    color: white
  }
  