
/* Contenitore principale */
.container {
  margin-left: 0;
  transition: margin-left 0.3s ease;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 20px; /* Padding laterale per schermi piccoli */
}

/* Media query per schermi più grandi di 1100px ma non più grandi di 1400px */
@media (min-width: 1100px) and (max-width: 1400px) {
  .container {
      max-width: 1280px;
      margin-left: 50px;
      margin-right: 100px;
      padding: 0; /* Rimuove il padding laterale per schermi medi */
  }
}

/* Media query per schermi più grandi di 1400px */
@media (min-width: 1400px) {
  .container {
      max-width: 1650px;
      margin-left: 100px;
      margin-right: 100px;
      padding: 0; /* Rimuove il padding laterale per schermi grandi */
  }
}

/* Media query per schermi enormi */
@media (min-width: 1650px) {
  .container {
      max-width: 3000px;
      margin-left: 100px;
      margin-right: 100px;
      padding: 0; /* Rimuove il padding laterale per schermi enormi */
  }
}

/* Allineamento prima row */
.row.align-items-stretch {
align-items: stretch;
}



/* Testo di benvenuto */
#benvenuto {
    text-align: center;
    justify-content: center;
    font-size: 35px;
}


/* card progetto attuale */
body {
    background-color: #000;
  }


  /* General Styles */
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}
/* card tasks */
.card {
    background-color: #332f2f;
    color: white;
    box-shadow: 0px 0px 26px 39px rgba(0,0,0,0.1);    
    min-height: 500px; /* altezza card */
    display: flex;
    flex-direction: column; 
  }

  .list-group-item{
    background-color: #332f2f;
    color: white;
  }
  

.scroll-area-lg {
  min-height: 100px; /* Altezza minima della scroll area */
  max-height: 300px; /* Altezza massima con scroll */
}
@media (min-width: 768px) {
  .card-hover-shadow-2x {
      min-height: 250px; /* Maggiore altezza minima sui dispositivi più grandi */
  }
}

@media (min-width: 992px) {
  .card-hover-shadow-2x {
      min-height: 500px; /* Ancora maggiore altezza minima sui dispositivi più grandi */
  }
}
.card-header {
  justify-content: center;
  align-items: center;
  padding: 13px;
  padding-left: 13px;
}


.text-primary {
color: white;
}


/* Sidebar Container */
.sidebar-container {
  flex: 2;
  width: 100%;
  max-width: 800px; 
  margin-left: 50px;
  margin-top: 50px;
  background-color: transparent !important;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra orizzontalmente */
}

.sidebar-container {
  flex: 2;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

#statusChart {
  width: 100%; /* Occupa tutto lo spazio disponibile */
  max-width: 500px; /* Limite massimo */
  height: auto;
}

@media (min-width: 768px) {
  #statusChart {
    max-height: 400px;
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  #statusChart {
    max-width: 700px;
  }
}

@media (min-width: 1800px) {
  #colchart {
    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center;    /* Centra verticalmente il contenuto (opzionale) */
  }
}

/*notes*/

/* Stili per il block notes */
.notes-section {
  padding: 20px;
  background-color: #FFFF88; /* Colore di sfondo chiaro */
  border-radius: 15px;
  box-shadow: 0px 0px 26px 39px rgba(0,0,0,0.1);
}

.notes-section h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;

}

.notes-list {
  list-style-type: none;
  padding: 0;
}

.notes-list li {
  background: #FFFF88; /* Colore di sfondo delle note */
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.notes-list li h3 {
  margin: 0 0 5px;
  font-size: 14px;
  color: #007bff; /* Colore del titolo della nota */
}

.notes-list li p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.progress-container {
  margin-bottom: 1rem; /* Spaziatura tra le barre di progresso */
}

.progress-bar {
  transition: width 0.6s ease; /* Animazione fluida della larghezza */
}
/* colori delle barre di progresso */
.bg-red {
  background-color: #dc3545; /* Rosso */
}

.bg-gold {
  background-color: #ffc107; /* Oro */
}

.bg-blue {
  background-color: #007bff; /* Blu */
}

.bg-purple {
  background-color: #6f42c1; /* Viola */
}

.bg-green {
  background-color: #28a745; /* Verde */
}
