/* lista nomi progetto*/
#list-tab>a {
    background-color: #333;
    border: 0px;
    transition: 0.3s;
  }
  #list-tab>a:hover {
    background-color: #555;
    border: 0px;
    color:#a627ed;
    transition: 0.3s;
  }
  
  /* card progetti*/
  #nav-tabContent>div>div {
    background-color: #333;
    border: 0px;
    transition: 0.3s;
    border-radius: 15px;
  }
  #nav-tabContent>div>div>.card-header {
    background-color: #333;
  }
    #nav-tabContent>div>div>div>.accordion-item {
    background-color: #333;
  }
  
  
  /* Correggere la centratura del contenuto della timeline */
  .timeline_area .single-timeline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; /* Assicurati che ci sia abbastanza spazio per il contenuto */
    word-wrap: break-word; /* Assicura che il testo lungo non esca dalla card */
  }
  
  @media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
     margin-left: 50px;
    }
    .single-timeline-area .single-timeline-content {
      margin-left: 70px;
      width: 150px;
      height: auto;
    }
    .timeline_area .single-timeline-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px; /* Assicurati che ci sia abbastanza spazio per il contenuto */
      word-wrap: break-word; /* Assicura che il testo lungo non esca dalla card */
    }
  }
  
  
  .card {
    background-color: #333; /* Colore di sfondo della card */
    color: #ffffff; /* Colore del testo */
    padding: 15px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    height: 100%; /* Assicura che la card occupi tutta l'altezza */
  }
  
  
  .projBtn {
    font-size: small !important;
    background-color: #333 !important;
    box-shadow: none;
    border: 0;
    color: white;
  }
  
  .accordion-flush>.accordion-item>.accordion-header .accordion-button {
    border-radius: 15px !important;
    color: white;
  }
  .card-header {
    background-color: #333;
    border-bottom: none;
  }
  .projName {
    color:#a627ed !important;
  }
  .card-header:first-child {
    background-color: #333 !important;
    border-bottom: #333;
  }
  
  .progress-bar {
    background: linear-gradient(147deg, #42d392, #647eff, #a627ed) !important;
    color: #000000; /* Cambia il colore del testo sulla barra, esempio nero */
  }
  .progress-bar-striped {
    background-image: inear-gradient(147deg, #42d392, #647eff, #a627ed);
  }
  
  /* Stile degli accordion */
  .accordion-button {
    background-color: #333; /* Colore di sfondo dell'accordion */
    color: #ffffff; /* Colore del testo */
    border-radius: 6px;
    padding: 15px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  
  
  /* Effetto hover sugli accordion */
  .list-group-item:hover {
    background: linear-gradient(147deg, #42d392, #647eff, #a627ed);
    box-shadow: 0 0.5rem 1.5rem 0 rgba(47, 91, 234, 0.25);
    color: #ffffff;
  }
  
  /* timeline */ 
  .timeline_area {
    position: relative;
    z-index: 1;
  }
  
  
  .single-timeline-content.d-flex.wow.fadeInLeft {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    text-align: center; /* Assicura che il testo sia centrato */
  }
  
  .timeline-text {
    flex: 1; /* Permette al contenuto di adattarsi alla dimensione della card */
    display: flex;
    flex-direction: column; /* Dispone gli elementi verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    padding: 10px; /* Aggiungi padding se necessario */
  }
  
  
  
  /* Sezione della timeline */
  .single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 180px;
  }
  
  @media only screen and (max-width: 575px) {
    .single-timeline-area {
      padding-left: 100px;
    }
  }
  
  /* Linea temporale */
  .single-timeline-area .timeline-date {
    position: absolute;
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 60px;
  }
  
  @media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
      width: 100px;
    }
  }
  
  
  /* Modifica della linea temporale: più spessa e con una freccia */
  .single-timeline-area .timeline-date::after {
    position: absolute;
    width: 10px;  /* Aumenta lo spessore della linea */
    height: 100%;
    content: "";
    background-color: #333;
    top: 0;
    right: 30px;
    z-index: 1;
  }
  
  .single-timeline-area .timeline-date::before {
    position: absolute;
    width: 16px;  /* Aumenta la dimensione dei pallini */
    height: 16px; /* Aumenta la dimensione dei pallini */
    border-radius: 50%;
    background: linear-gradient(147deg, #42d392, #647eff, #a627ed);
    content: "";
    top: 50%;
    right: 28px;
    z-index: 5;
    margin-top: -7px; /* Centra i pallini */
  }
  
  /* Freccia alla fine della linea */
  .single-timeline-area .timeline-date:last-child::after {
    background-color: transparent;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #ebebeb;
    bottom: -12px; /* Posiziona la freccia sotto l'ultimo pallino */
    top: auto;
    right: 21px;
  }
  
  /* Testo della timeline */
  .single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  /* Stile delle card nella timeline */
  .single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 30px 30px 30px !important;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    background-color: #333; /* Sfondo grigio delle card */
    transition: all 0.3s ease-in-out;
    color: white;
  }
  
  /* Ombreggiatura e gradiente all'hover */
  .single-timeline-area .single-timeline-content:hover {
    background: linear-gradient(147deg, #42d392, #647eff, #a627ed);
    box-shadow: 0 0.5rem 1.5rem 0 rgba(47, 91, 234, 0.25);
  }
  
  /* Icona della timeline */
  .single-timeline-area .single-timeline-content .timeline-icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(147deg, #42d392, #647eff, #a627ed);
    flex: 0 0 30px;
    text-align: center;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 15px;
    transition: background-color 0.5s ease;
  }
  
  .single-timeline-area .single-timeline-content .timeline-icon i {
    color: #ffffff;
    line-height: 30px;
    margin-left: -15px;
  }
  
  /* Cambia colore icona all'hover */
  .single-timeline-area .single-timeline-content:hover .timeline-icon {
    background-color: #020710;
  }
  
  .single-timeline-area .single-timeline-content .timeline-text h6 {
    transition-duration: 500ms;
  }
  
  .single-timeline-area .single-timeline-content .timeline-text p {
    font-size: 13px;
    margin-bottom: 0;
  }
  
  .timeline-text {
    align-items: center;
    justify-content: center;
  }
  
  /* Cambia colore testo all'hover */
  .single-timeline-area .single-timeline-content:hover .timeline-text h6 {
    color: white;
  }
  
  @media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
      padding: 20px;
    }
  }
  
  
  /* modale task*/
  .taskModal {
    --bs-modal-width: 80% !important;
  }
  /*testo dentro il modale delle le tasks*/
  
  .taskSub{
    font-size: small ;
    color: white;
  }
  b,strong{
    color: white;
  }
  div,a{
    color:white;
  }
  
  #benvenuto {
    text-align: center;
    justify-content: center;
    font-size: 35px;
  }


.modal-body {
    background-color: #333;
    color: black;
    border-top: #333;
  }
  
  .modal-header {
    background-color: #333;
    color: white;
    border: none;
    border-top: #333;
    border-bottom: #333;
  
  }
  div.modal-footer{
    background-color: #333;
    border-top: #333;
  }
  .mb-3.card.container {
   background-color: #333;
   color: white;
   border: none;
   padding: 0;
  }
  .list-group-item {
    background-color: #333 !important;
    color: white;
  }
  #benvenuto2 {
    text-align: center;
    justify-content: center;
    font-size: 35px;
    color:white;
  }
  .form-check-label {
    color: white
  }
  
  
  /* Stile del modale */
.modal {
    display: none; /* Di default nascosto */
    position: fixed; /* Fisso rispetto alla finestra */
    z-index: 2; /* Sopra altri contenuti */
    left: 0;
    top: 0;
    width: 100%; /* Larghezza totale */
    height: 100%; /* Altezza totale */
    overflow: auto; /* Scorrimento se necessario */
    background-color: rgba(0, 0, 0, 0.8); /* Sfondo scuro con opacità */
}

/* Contenuto del modale */
.modal-content {
    background-color: #333; /* Sfondo scuro */
    color: white; /* Testo bianco */
    margin: 10% auto; /* Margini centrati */
    padding: 20px;
    border-radius: 10px; /* Angoli arrotondati */
    width: 80%; /* Larghezza modale */
    max-width: 600px; /* Larghezza massima */
    position: relative; /* Posizionamento relativo per il bottone di chiusura */
}


/* Bottone "Salva" */
.save-button {
    background: linear-gradient(45deg, #42d392, #647eff, #a627ed);
    border: none; /* Nessun bordo */
    color: white; /* Testo bianco */
    padding: 10px 20px; /* Spaziatura interna */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 15px; /* Angoli arrotondati */
    cursor: pointer; /* Puntatore a mano */
}

/* Stile per input e selettori */
input[type="text"], input[type="date"], input[type="number"], select {
    width: calc(100% - 22px); /* Larghezza al 100% meno padding e margini */
    padding: 8px; /* Spaziatura interna */
    margin: 5px 0; /* Margini */
    border: 1px solid #ccc; /* Bordo grigio chiaro */
    border-radius: 5px; /* Angoli arrotondati */
}

/* Stile per le etichette */
label {
    display: block;
    margin: 10px 0 5px; /* Spaziatura sopra e sotto le etichette */
}

/* Stile generale per il modale */


/* Stile per il contenuto del modale */
#newMileModal .modal-content {
    background-color: #333; 
    color: white;
    margin: 10% auto; /* Centra verticalmente e orizzontalmente */
    padding: 20px; /* Spaziatura interna */
    width: 80%; /* Larghezza del 80% dello schermo */
    max-width: 600px; /* Larghezza massima */
    border-radius: 15px; /* Angoli arrotondati */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Ombra per maggiore profondità */
}

/* Stile per il titolo */
#newMileModal .modal-content h2 {
    font-size: 24px;
    color: white;
    text-align: center;
}

/* Stile per le etichette dei campi */
#newMileModal .modal-content form label {
    font-weight: bold;
    display: block;
    margin: 15px 0 5px; /* Spaziatura sopra e sotto le etichette */
}

/* Stile per i campi di input e select */
#newMileModal .modal-content form input,
#newMileModal .modal-content form select {
    width: 100%; /* Larghezza completa */
    padding: 10px; /* Spaziatura interna */
    border-radius: 15px; /* Angoli arrotondati */
    font-size: 16px; /* Dimensione del testo */
    margin-bottom: 10px; /* Spaziatura sotto ogni campo */
}

/* Stile per il pulsante di chiusura */
.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




#changePriorityModal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20% auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

#changePriorityModal .modal-content form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#changePriorityModal .modal-content form select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

#changePriorityModal .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#assignUserModal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    margin: 15% auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

#assignUserModal .modal-content form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#assignUserModal .modal-content form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#assignUserModal .modal-content form button {
    width: 100%;
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

#assignUserModal .modal-content form button:hover {
    background-color: #5a6268;
}

#assignUserModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#updateTaskModal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    margin: 10% auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

#updateTaskModal .modal-content h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

#updateTaskModal .modal-content form label {
    font-weight: bold;
    display: block;
    margin: 15px 0 5px;
}

#updateTaskModal .modal-content form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#updateTaskModal .modal-content form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.modal-backdrop {
    --bs-backdrop-bg: none;
}

/*bottone aggiungi task modal*/
.custom-btn {
    background: linear-gradient(147deg, #42d392, #647eff, #a627ed) !important;
    color: white; /* Colore del testo */
    padding: 10px 20px; /* Spaziatura interna */
    border: none; /* Nessun bordo */
    border-radius: 15px; /* Angoli arrotondati */
    font-size: 16px; /* Dimensione del testo */
    cursor: pointer; /* Puntatore a mano */
    display: inline-flex; /* Disposizione inline con flessibilità per centrare */
    align-items: center; /* Allineamento verticale centrato */
    gap: 8px; /* Spazio tra l'icona e il testo */
    transition: background-color 0.3s ease; /* Transizione al passaggio del mouse */
}

.custom-btn:hover {
    background-color: #45a049; /* Colore di sfondo al passaggio del mouse */
}

.custom-btn i {
    font-size: 18px; /* Dimensione dell'icona */
}
button:not(:disabled) {
    background-color: transparent !important;
    border: none !important;
}