/* Titoli */
h1, h2 {
    color: #000000;
    text-align: center;
}

/* Stile della tabella */
#destinazioni-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 150px;
}

#destinazioni-table thead {
    background-color: #2bcb1cb0;
    color: white;
}

#destinazioni-table th, #destinazioni-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #dddddd;
}

#destinazioni-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Stile del form */
form {
    background-color:  #332f2f;
    padding: 20px;
    border: 1px solid rgb(58, 186, 41);
    border-radius: 5px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgb(58, 186, 41);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: rgb(58, 186, 41);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #257709bd;
}

.card-header {
    background-color: black;
    color: white;
}

