/* Font importati */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* Icone */
.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

/* Sidebar */
.main-menu {
    background: #332f2f;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px; /* Larghezza della sidebar chiusa */
    overflow: hidden;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
    z-index: 1000;
}

.main-menu:hover {
    width: 250px; /* Larghezza della sidebar aperta */
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Avatar */
.avatar {
    background: #332f2f;
    padding: 2em 0.5em;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.avatar img {
    width: 30px; /* Dimensione dell'avatar quando la sidebar è chiusa */
    height: 30px; /* Altezza uguale alla larghezza per mantenere la forma rotonda */
    border-radius: 50%; /* Imposta il bordo arrotondato al 50% per ottenere una forma rotonda */
    overflow: hidden;
    border: 2px solid grey;
    transition: width 0.3s ease, height 0.3s ease; /* Transizione per l'animazione */
}

.main-menu:hover .avatar img {
    width: 100px; /* Dimensione dell'avatar quando la sidebar è aperta */
    height: 100px; /* Altezza uguale alla larghezza per mantenere la forma rotonda */
}

  
  /* Media query per schermi più grandi di 1100px ma non più grandi di 1400px */
  @media (min-width: 1100px) and (max-width: 1400px) {
    .footer-container {
        max-width: 1200px; /* Stessa larghezza massima del contenitore principale */
        margin: 0 auto; /* Centra orizzontalmente */
        padding: 20px; /* Padding se necessario */
        }
  }
  
  /* Media query per schermi più grandi di 1400px */
  @media (min-width: 1400px) {
    .footer-container {
        margin-left: 100px; /* Spazio per la sidebar aperta */
        max-width: 1200px;
        margin: 0 auto;
    } 
  }
  /* Media query per schermi enormi */
  @media (min-width: 1650px) {

    .footer-container {
        margin-left: 500px; /* Spazio per la sidebar aperta */
        max-width: 3000px;
        margin: 0 auto;
    }
  }

.main-menu:hover ~ .container {
    margin-left: 250px; /* Margine sinistro per fare spazio alla sidebar aperta */
}

/* Stili generali */
a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a, nav.main-menu li.active>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #000000;
}

.footer-text {
    color: white !important;
}

.my-4 {
    margin-left: 1.5rem; /* sposta il footer dalla sidebar quando si apre */
  } 


  /* Nuova sezione user-info */
.user-info {
    padding: 1em;
    color: white;
    opacity: 0; /*nasconde userinfo*/
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transizione per visibilità e opacità */
}
/* Mostra user-info quando la sidebar è aperta */
.main-menu:hover .user-info {
    opacity: 1;
    visibility: visible;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.user-stats {
    font-size: 14px;
    margin-bottom: 1em;
}

.user-stats div {
    margin-bottom: 0.5em;
}

.btn-change-password {
    background-color: #4CAF50; /* Colore di sfondo per il bottone */
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

.btn-change-password:hover {
    background-color: #45a049; /* Colore di sfondo del bottone al passaggio del mouse */
}
