.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-left:auto;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*
:root {
    --background-color: #40832bd0;
    --text-color: black;
    --card-bg: #f0f0f0;
    --notes-bg: #FFFF88; 
}

.dark-mode {
    --background-color: #0b0b64;
    --text-color: white;
    --card-bg: #2a2a2a;
    --notes-bg: #2a2a2a; 
}

body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.card {
    background-color: var(--card-bg);
    color: var(--text-color);
}

.notes-section {
    background-color: var(--notes-bg) !important;
    color: var(--text-color);
}
.notes-list li {
    background-color: var(--notes-bg) !important;
    color: var(--text-color);
}
#benvenuto{
    color: var(--text-color) !important;
}
.single-timeline-area .timeline-date p {
    color: var(--text-color) !important;
}
*/

:root {
    --background-color: #40832bd0;
    --text-color: white;
    --card-bg: #333 !important;
    --notes-bg: #FFFF88;
    --bs-list-group-border-color:#333;
}

/* Stili specifici per manager-mode */
.manager-mode {
    --background-color: rgba(71, 38, 101, 0.59) !important;
    --text-color: white !important;
    --card-bg: #333 !important;
    --notes-bg: #FFFF88; 
    --bs-list-group-border-color: #333;
}

/* Modalità scura */
.dark-mode {
    --background-color: #0b0b64 !important;
    --text-color: white !important;
    --card-bg: #333 !important;
    --notes-bg: #333 !important;
    --bs-list-group-border-color: #333;
}

/* Applicazione delle variabili */
body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.card {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
}

.notes-section {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
}
.notes-list li {
    background-color: var(--card-bg) !important;
    color: var(--text-color);
}
#benvenuto{
    color: var(--text-color) !important;
}
.single-timeline-area .timeline-date p {
    color: var(--text-color) !important;
}
::marker {
    background-color: #333;
}
.table-calendar{
    color: black !important;
}
